@CHARSET "UTF-8";


a:active, a:link, a:visited {
	color: #0D5798;    
}
a:hover {
	color: #8CAFCD;
}

input, textarea, select {
	border: 1px solid #BBBBBB;
	font-size: 1.6em;
	background: #f7f6fa;
	color: #c7c9cb;
}

textarea {
	color: black;
	width:86%;
	height:70px;
	font-size: 1.2em;
	}
.pageContent {
	width:410px;
	height:120px;
	font-size: 1.3em;
	}	
select {width: 315px;}

input[type='submit'], input[type='button'] {
	background: #4477AA;
	color: white;
	margin: 5px;
	border-color: gray;
}

.footer {
	text-align: center;
	font-size: 0.7em;
	margin-top: 135px;
	
	
}
.footer a {
	/*color:#8BD002;*/
	color:orange;
	}



h1 {
	font-family: Arial,sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial,sans-serif;
	color: #616161;
	font-size:94%;
	
}

.body {
	padding:90px 60px 30px 90px; 
	font-size:94%;
}

.columnHeader:hover
{
    color: #FF6600;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F8FF;
	font-size: 14px;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}
.value {
	float: left;
	padding: 5px;
}
.error {
	margin-left: 20px;
	margin-top: 5px;
	float: left;
	padding: 5px;
	border: 1px solid blue;
}

.errors {
	color: blue;
}
.errors input {
	border: 1px solid blue;
}
.errors textarea {
	border: 1px solid red;
}
.required {
	color: blue;
	padding-left: 2px;
	font-size: 0.8em;
	font-weight: bold;
}

.dr-toolbar-ext{
border:1px solid;border-color:#BED6F8;padding:0px;background-color:#BED6F8;background-position:top left;background-repeat:repeat-x;background-image: url(http://localhost:8080/Prototype/kernel/layout/img/blueback.gif);}
.dr-toolbar-int{
font-size:11px;color:#000000;font-weight:bold;font-family:Arial, Verdana, sans-serif;padding:2px 10px 2px 10px;white-space:nowrap;}
	
.dr-pnl{
   border-width: 1px;
   border-style: solid;
   padding : 1px;
   background-color:#FFFFFF;
   border-color:#BED6F8;
}
  
  .dr-pnl-b{
   padding : 10px;
   font-size:82%;color:#666;font-family:arial, verdana;
}
   
.dr-pnl-h{
   padding : 2px;
   border-width: 1px;
   border-style: solid;
   background-position : top left;
   background-repeat : repeat-x;
   background-color:#BED6F8;
   border-color:#BED6F8;
   font-size:11px;
   color:#000000;
   font-weight:bold;
   font-family:Arial, Verdana, sans-serif;
  
   background-image: url(http://localhost:8080/Prototype/kernel/layout/img/blueback.gif); 
}


.forgot {
	font-weight: bold;
	font-size: 79%;
	font-stretch: condensed;
	 line-height: 16px;
	 
	}
	.displayData, .displaydata th, .displayData td{
	
   padding: 3px 25px 3px 20px;
   border-width: 1px;
   border-style: solid;
   border-color: #dcdbd5;
   border-collapse: collapse;
	   
}
.formTable th{
   text-align: left;
   margin: 26px;
}
.display, .display td{
	margin: 20px;
	padding: 10px 19px 10px 10px;
	vertical-align: top;
	}
